{% extends "base.html" %}

{% block title %} Attempting {{ quiz_name }}... {% endblock %}


{% block header %}
    <div id="quiz-details" class="row">
        <div class="col-md-6">
            <h2 id="quiz-name">Quiz: {{ quiz_name }}</h2>
        </div>

        <div class"col-md-6">
            <h2 id="quiz-score">Score: <span id="quiz-score-value">0</span></h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="quiz-msg">
        <div class="row">
            <span id="quiz-instructions" class="col-xs-5 col-xs-offset-1">
                <h3>Instructions</h3>
                {% block quiz_instructions %}{% endblock %}
            </span>
            <span class="col-xs-3 col-xs-offset-1">
                <h2 id="quiz-msg-wait">Warming up.....</h2>
                <a href="#" id="quiz-msg-start"
                   class="btn btn-primary btn-lg" role="button">
                    Start!
                </a>
            </span>
        </div>
    </div>

    <div id="quiz-content" class="container fill">
        {% block quiz_content %}{% endblock %}
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script>
        $SCRIPT_QUIZ_URLS = {{ SCRIPT_QUIZ_URLS | tojson |safe }};
    </script>
    {% assets "quiz-" + quiz_module %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

