@import "../bower_components/bootstrap/less/bootstrap";
@import "./variables.less";

.hidden {
    display: none;
}



.center {
  padding-top: 10%;
  text-align: center;
}

.left-padded {
    padding-left: 1%;
}

