{% extends "base.html" %}

{% block title %} Select a quiz! {% endblock %}

{% block content %}
    <div class="center vcenter">
        <h1>Please select a quiz: </h1>
        <form class="form-inline row">
            <div class="form-group">
                <select name="quiz" class="input-lg">
                {% for name, module in quizes.iteritems() %}
                    <option value="{{ module }}">{{name}}</option>
                {% endfor %}
                </select>
            </div>
          
            <div class="form-group left-padded">
                <input type="submit" class="btn btn-success input-lg" value="Start!">
            </div>
        </form>
    </div>
{% endblock %}

