<!doctype html>
<html>
<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - Complexity</title>

        {% assets "css_all" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

    {% endblock %}
</head>
<body>

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Complexity</a>
            </div>

            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('quiz.choose') }}">Quizzes</a></li>
              <li><a href="{{ url_for('records.choose') }}">Records</a></li>
            </ul>

        </div>
    </nav>

    <header id="header">
        {% block header %}{% endblock %}
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    {% block js %}
        <script>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        {% assets "js_all" %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}
    
</body>
</html>

