<!doctype html>
<html>
<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - Complexity</title>

        {% assets "css_all" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

    {% endblock %}
</head>
<body>


    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-static-top hidden" role="navigation">
        <div class="container">
            {% block navbar %}

                <div class="navbar-header">

                    <!-- Reponsive Toggle Button -->
                    <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                        
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    
                    <!-- Project Title -->
                    <a class="navbar-brand" href="{{ url_for('index') }}">Complexity</a>
                </div>

                <!-- Navbar links -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>

            {% endblock %}
        </div>
    </nav>

    <header id="header">
        {% block header %}{% endblock %}
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    {% block js %}
        {% assets "js_all" %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}
    
</body>
</html>

